<div class="container-fluid">
  <app-daily-sales-nav-menu></app-daily-sales-nav-menu>
  <mat-divider class="mb-2"></mat-divider>
  <div class="row m-1" id="main-box">
    <div class="col-9 border">
      <p class="lead border-bottom">Invoice <span class="float-right">Store name: Store 1</span></p>
      <div class="row m-1">
        <div class="col-8 border">
          <app-daily-sales-basket></app-daily-sales-basket>
        </div>
        <div class="col-4 border">
          <app-daily-sales-summary></app-daily-sales-summary>
        </div>
      </div>
    </div>
    <div class="col-3 border">
      <app-daily-sales-product-details></app-daily-sales-product-details>
    </div>
  </div>
</div>