<p class="lead m-1 border-bottom">Products<span class="float-right">
    <mat-icon>shopping_basket</mat-icon>
  </span></p>
<table class="table table-dark table-hover">
  <tbody>
    <tr>
      <td>Cars</td>
      <td>5</td>
      <td>4589 Tk</td>
      <td>5%</td>
      <td>4000 Tk</td>
      <td><button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button></td>
      <td><button mat-icon-button color="warn">
          <mat-icon>remove</mat-icon>
        </button></td>
    </tr>
    <tr>
      <td>Cars</td>
      <td>5</td>
      <td>4589 Tk</td>
      <td>5%</td>
      <td>4000 Tk</td>
      <td><button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button></td>
      <td><button mat-icon-button color="warn">
          <mat-icon>remove</mat-icon>
        </button></td>
    </tr>
    <tr>
      <td>Cars</td>
      <td>5</td>
      <td>4589 Tk</td>
      <td>5%</td>
      <td>4000 Tk</td>
      <td><button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button></td>
      <td><button mat-icon-button color="warn">
          <mat-icon>remove</mat-icon>
        </button></td>
    </tr>
    <tr>
      <td>Cars</td>
      <td>5</td>
      <td>4589 Tk</td>
      <td>5%</td>
      <td>4000 Tk</td>
      <td><button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button></td>
      <td><button mat-icon-button color="warn">
          <mat-icon>remove</mat-icon>
        </button></td>
    </tr>
  </tbody>
</table>