<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="card text-white bg-dark mb-3 text-center shadow">
        <div class="card-header lead shadow">Total stores</div>
        <div class="card-body">
          <h5 class="card-title display-4">5</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card text-white bg-secondary mb-3 text-center shadow">
        <div class="card-header lead shadow">Total products</div>
        <div class="card-body">
          <h5 class="card-title display-4">506</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card text-white bg-dark mb-3 text-center shadow">
        <div class="card-header lead shadow">Total products in stock</div>
        <div class="card-body">
          <h5 class="card-title display-4">498</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card text-white bg-secondary mb-3 text-center shadow">
        <div class="card-header lead shadow">Today's total sales</div>
        <div class="card-body">
          <h5 class="card-title display-4">5060 TK</h5>
        </div>
      </div>
    </div>
  </div>
</div>
