<p class="lead m-1 border-bottom">Summary<span class="float-right">
    <mat-icon>note</mat-icon>
  </span></p>
<table class="table table-dark table-hover">
  <tbody>
    <tr>
      <td>Total Item</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Total Products</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Total Price</td>
      <td>5600 Tk</td>
    </tr>
    <tr>
      <td>Total Discounts</td>
      <td>12%</td>
    </tr>
    <tr>
      <td>Net Total Price</td>
      <td>5400 Tk</td>
    </tr>
  </tbody>
</table>
<button class="mb-2 btn-block" mat-flat-button color="accent">Checkout</button>